.board {
  display: grid;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  
  &__row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
  }

  &__tile {
    width: 30px;
    height: 30px;
    background-color: #d3d6da;
    border: 2px solid #787c7e;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media(min-width: 320px){
      width: 40px;
      height: 40px;
    }

    @media(min-width: 440px){
      width: 60px;
      height: 60px;
    }
  }
}