.keyboard {
    display: grid;
    width: 100%;
    gap: 5px;
  
    &__row1 {
      grid-template-columns: repeat(10, 1fr);
    }
  
    &__button {
      background-color: #f1f1f1;
      border: 1px solid #ccc;
      border-radius: 4px;
      text-align: center;
      margin-right: 2px;
      cursor: pointer;
  
      &:hover {
        background-color: #ddd;
      }
  
      &--enter, &--delete {
        grid-column: span 2;
      }

      @media(min-width: 320px){
        padding: 8px;
      }

      @media(min-width: 440px){
        padding: 15px;
      }
    }
  }
  